.header__user-info {
  display: flex;
  height: 22px;
  transition: all 0.3s ease-in-out;
  gap: 23px;
  margin: auto 0;
}

@media screen and (max-width: 580px) {
  .header__user-info {
    display: none;
  }
}
